<div class="section landing-section" >
    <div class="container" >
        <div class="row" >
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">¿Podemos mejorar?</h2>
            <form class="contact-form" [formGroup]="sendEmailForm"  (ngSubmit)="onSubmit(sendEmailForm)">
                <div class="row">

                    <div class="col-md-6" >
                        <label>Nombre</label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>
                            <input type="text"
                                class="form-control"
                                id="nombre" 
                                formControlName="nombre"
                                placeholder="Nombre"
                                (focus)="focus=true" 
                                (blur)="focus=false"
                            >
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Correo</label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                            </div>
                            <input type="email" 
                                class="form-control"
                                id="email"
                                formControlName="email" 
                                placeholder="email" 
                                (focus)="focus1=true" 
                                (blur)="focus1=false" 
                            >
                        </div>
                    </div>
                </div>

                <label>¿En que podemos mejorar?</label>
                <textarea type="textarea" 
                    class="form-control" 
                    id="comentarios"
                    formControlName="comentarios"
                    placeholder="Comentarios"
                    rows="4">
                </textarea>
                <div class="row">
                    <div class="col-md-4 mr-auto ml-auto">
                        <button class="btn btn-danger btn-lg btn-fill" type="submit">Mandar comentario</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
