
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/topoyork.jpeg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Puerto de topolobampo</h1>
            <h3></h3>
            <br />
            <a href="https://www.facebook.com/comunidadtopolobamposs/" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Ver trabajo del servicio social</a>
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Ver lugares turisticos</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Conoce nuestros centros turisticos</h2>
                <h5 class="description"></h5>
                <br>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round"></a> -->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Playa las Hamacas</h4>
                        <p class="description">Las hamacas es una hermosa playa desconocida para muchos lo que la hace un lugar tranquilo con escasa afluencia de personas, ideal para disfrutar de una tranquila tarde en la playa.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Isla los patos</h4>
                        <p>Isla Los Patos es una isla de las Bahías de Topolobampo,
                            Sinaloa. Su nombre es característico por albergar una
                            gran cantidad de aves durante todo el año, de igual
                            manera resulta peculiar la flora que se encuentra en el
                            lugar, la cual es dominada por diversas especies de
                            cactus, en especial plantas nopaleras. Se encuentra a una
                            altitud de 1 metro sobre el nivel del mar</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Playa el maviri</h4>
                        <p>Este es un mágico lugar, una especia de isla que se extiende entre la Bahía de Topolobampo y el Mar de Cortés. Aquí podrás realizar diversas actividades como el windsurf, kayak y mucho más. También, podrás gozas de las delicias del Mar de Cortés en su gastronomía en cualquiera de los restaurantes de la zona.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Isla el Farallón</h4>
                        <p>La llamada Isla del Farallón es un montículo rocoso que se eleva en el océano Pacífico, y es la segunda más grande del mundo en su género, se encuentra incrustada en medio del Mar de Cortés que, debido a su privilegiada ubicación geográfica, la sitúa en medio de las corrientes de El Niño, que provienen del Pacífico y del Mar de Cortés, resulta un magnífico sitio para quienes gustan de admirar la naturaleza en todo su esplendor.</p>
                        <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/el-farallon.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Isla el Farallón</h1>
            <h3></h3>
            <br />
            <!-- <button type="button" href="https://www.youtube.com/watch?v=L6VSU8XT044" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Conoce mas acerca de este atractivo turistico</button> -->
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Ver lu</button> -->
            <a href="https://www.youtube.com/watch?v=L6VSU8XT044" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Conoce de este atractivo turistico</a>
        </div>
    </div>
</div>

<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/maviri.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>El maviri</h1>
            <h3></h3>
            <br />
            <a href="https://www.youtube.com/watch?v=I3Dthntjc5c" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Conoce mas de este atractivo turistico</a>
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Ver lu</button> -->
        </div>
    </div>
</div>


<!-- 
<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">¿Podemos mejorar?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Correo</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>¿En que podemos mejorar?</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Mandar comentario</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
