<!-- <footer class="footer" >
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Pagina realizada por brigadistas del servicio social de la UAS
                </span>
            </div>
        </div>
    </div>
</footer> -->
<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.facebook.com/comunidadtopolobamposs/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/ServicioSocialTopolobampo/">Instagram</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Pagina realizada por brigadistas del servicio social de la UAS
                </span>
            </div>
        </div>
    </div>
</footer>